/* override this file for custom css */

/* you can import boostrap mixins */
// @import 'bootstrap/scss/mixins';
// Example usage
// .some-class {
//   @include media-breakpoint-up(sm) {
//     // Larger than sm: 576px
//     display: inline;
//   }
//   @include media-breakpoint-down(md) {
//     // Smaller than md: 768px
//     display: block;
//   }
// }

p {
  display: block;
  text-align: justify;
}

div.right {
    display: flex;
    justify-content: flex-end;
    float: right;
    margin: 1em;
    
}

div.left {
    display: flex;
    justify-content: flex-start;
    float: left;
    margin: 1em;
}